streamlit 
pandas  
openai 
langchain==0.3.11
python-dotenv==1.0.0
langchain-openai
langchain-community
matplotlib
pyodbc
azure-identity
azure-search-documents
azure-storage-blob
langchain-experimental
azure-ai-formrecognizer
sqlalchemy
pillow
datetime
random
PIL
base64
io
os





